$jad-navigation-bg: #f9fafc;
$jad-navigation-gray: #eff2f8;
$jad-navigation-green: #00bf59;
$jad-content-bg: #ffffff;
$jad-notices-bg: #23233b;

$jad-font-main: #6b7b93;
$jad-font-ltblue: #aec1dc;
$jad-font-dkblue: $jad-notices-bg;

$jad-table-gray: #e0e6ed;
$jad-table-ltgray: #f9fafc;

$jad-link-default: #676cff;

$jad-navigation-width: 270px;
$jad-notices-width: 330px;

$jad-content-padding: 65px;
$jad-content-padding-mob: 20px;
$jad-navigation-height-mob: 70px;